body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #1e293b;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}
